In [1]:
#write a for loop to print all even numbers from 2 to 20?
for num in range(2,21,2):
    print(num)

2
4
6
8
10
12
14
16
18
20

In [2]:
#Create a list of names and use a for loop to print each name in upper case ?
Names = ["sana","sara","maham","minahil"]
for name in Names:
    print (name.upper())

SANA
SARA
MAHAM
MINAHIL

In [3]:
for num in range(10,0,-1):
    print (num)

10
9
8
7
6
5
4
3
2
1

In [5]:
#iterate through a list of integers and print only the numbers that are divisible by 3?
Numbers = [1,2,3,4,5,6,7,8,9]
for num in Numbers:
    if num % 3 == 0:
        print (num)

3
6
9

In [6]:
# write a loop that print the squares of numbers from 1 to 10?
for  num in range (1,11):
    print (num**2)

1
4
9
16
25
36
49
64
81
100

In [8]:
# Given a list of tempreature in Celsius,use a for loop to convert each to Fahrenheit?
celsius_temps = [31,40,45]
for temp in celsius_temps:
    fahrenheit = (temp*9/5)+32
    print(f"{temp} C = {fahrenheit} F")

31 C = 87.8 F
40 C = 104.0 F
45 C = 113.0 F

In [9]:
#Create  a for loop that prints the multiplication table of 5?
for num in range (1,11):
    print (f"5*{num} = {5*num}")

5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

In [11]:
#Write a program to find the sum of all numbers in list using for loop?
numbers= [1,2,3,4,5,6]
total = 0
for num in numbers:
    total += num
    print(total)

1
3
6
10
15
21

In [12]:
#print each chracter in string?
string = "hello"
for char in string:
    print (char)

h
e
l
l
o

In [2]:
#print words more than 5 letters?
words = ["Apple","Cat","Elephant","Dog"]
for word in words:
    if len(word)> 5:
        print (word)

Elephant